{% extends "base.html" %}
{% block content %}
  <h1>Справочники</h1>

  <div class="плашка">Выберите справочник.</div>

  <div class="карточки">
    <a class="карточка" href="/справочники/блюда">Блюда</a>
    <a class="карточка" href="/справочники/гости">Гости</a>
    <a class="карточка" href="/справочники/столы">Столы</a>
    <a class="карточка" href="/справочники/официанты">Официанты</a>
    <a class="карточка" href="/справочники/поставщики">Поставщики</a>
    <a class="карточка" href="/справочники/продукты">Продукты</a>
  </div>
{% endblock %}
