{% extends "base.html" %}
{% block content %}
  <h1>Заказы</h1>

  {% if allow_edit %}
    <p><a class="кнопка" href="/заказы/создать">Создать заказ</a></p>
  {% endif %}

  <div class="таблица-обертка">
    <table class="таблица">
      <thead>
        <tr>
          <th>Номер</th>
          <th>Время</th>
          <th>Гость</th>
          <th>Стол</th>
          <th>Официант</th>
          <th>Статус</th>
          <th>Сумма</th>
          <th></th>
        </tr>
      </thead>

      <tbody id="orders-body">
        {% include "orders/_rows.html" %}
      </tbody>
    </table>
  </div>
{% endblock %}
